[submodule "_vim/bundle/browser.vim"]
	path = _vim/bundle/browser.vim
	url = https://github.com/vim-scripts/browser.vim
[submodule "_vim/bundle/Cleanroom"]
	path = _vim/bundle/Cleanroom
	url = https://github.com/vim-scripts/Cleanroom
[submodule "_vim/bundle/mru.vim"]
	path = _vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "_vim/bundle/vim-css-color"]
	path = _vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "_vim/bundle/vimwiki"]
	path = _vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki
[submodule "_vim/bundle/vundle"]
	path = _vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "_vim/bundle/vydark"]
	path = _vim/bundle/vydark
	url = https://github.com/vim-scripts/vydark
[submodule "_vim/bundle/vylight"]
	path = _vim/bundle/vylight
	url = https://github.com/vim-scripts/vylight
[submodule "_vim/bundle/zencoding-vim"]
	path = _vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim
